@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> My first Web-App</h2>
    <img src="https://cdn4.vectorstock.com/i/1000x1000/07/53/coder-programmer-at-work-comic-book-style-vector-6460753.jpg" height="500" width="500" alt="connect internet cable">
</div>
